<h1>Sign Up</h1>

<form action="/insert_new_user">
  <label for="query_username">Username</label>
  <input id="query_username" type="text" name="input_username" placeholder="Enter a username...">

  <label for="query_password">Password</label>
  <input id="query_password" type="password" name="input_password" placeholder="Enter a password...">

  <label for="query_password_confirmation">Password</label>
  <input id="query_password_confirmation" type="password" name="input_password_confirmation" placeholder="Confirm your password...">

  <button>Sign up!</button>
</form>

<hr>