<h1>The Chicago Booth Book Exchange</h1>
<h3>Buy and sell your used Booth textbooks here!</h3>

<div align="center">
    <a href="/user_profile">My Profile</a>
    <a> | </a>
    <a href="/books">List of All Books</a>
</div>

<p align="center">
#Search bar here
</p>

<div>
<h3>Recently Added Books</h3>
<% @booklist_5.each do |recent_book| %>
    <div class="card" style="width: 15rem;">
        <img src="<%=recent_book.cover%>" class="card-img-top" alt="..." width="250" height="250">
            <div class="card-body" align="center">
                <h4 class="card-title">Title: <%=recent_book.title%></h4>
                <p class="card-text">Price: <%=recent_book.list_price%></p>
                <a href="/books/<%=recent_book.id%>" class="btn btn-primary">Click for more details</a>
            </div>
    </div>
<% end %>
</div>


