<div align="center">
    <h1>The Chicago Booth Book Exchange</h1>
    <big class="text-muted">Buy and sell your used Booth textbooks here!</big>
</div>

<%#
<div align="center">
    <h5>Buy and sell your used Booth textbooks here!</h5>
</div>
%>

<div style="height: 2rem;">
</div>

<div align="center" style="font-size: 26px;">
    <a href="/user_profile">My Profile </a> | 
    <a href="/books"> List of All Books</a>
</div>


<div style="height: 1rem;">
</div>

<p>
</p>

<div>
<h3>Recently Added Books</h3>

<div class="overflow-auto">
<div class="row">
<% @booklist_6.each do |recent_book| %>
    <div class="col-md-2">
    <div class="card" style="width: 14.5rem; height: 25rem;">
        <img src="<%=recent_book.cover%>" class="card-img-top" width="250" height="250">
            <div class="card-body" align="center">
            <span class="d-inline-block text-truncate" style="max-width: 190px;">
                <h5 class="card-title"><%=recent_book.title%></h5>
            </span>
                <p class="card-number"><%=recent_book.list_price.to_s(:currency, { :precision => 2 })%></p>
                <a href="/books/<%=recent_book.id%>" class="btn btn-primary">Click for more details</a>
            </div>
    </div>
    </div>
<% end %>
</div>
</div>

</div>


